@import 'variables.scss';

.btn {
  cursor: pointer;
  text-align: center;
  color: $main-font-color;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: $normal;
  border: 0.125rem solid $normal;
  padding: 1rem;
  flex-grow: 1;
  margin: 1rem 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  &:hover, &:focus {
    background-color: white;
    color: $accent-color;
  }
}

a {
  color: $accent-color;
}

input {
  background-color: white !important;
}

.success-btn {
  background-color: $success;
  border-color: $success;
}

.warning-btn {
  background-color: $warning;
  border-color: $warning;
}

.danger-btn {
  background-color: $danger;
  border-color: $danger;
}
