<template>
  <div class="footer">
    <p>
      Made with 💖 by
      <a href="https://orimorningstar.com" target="_blank" rel="noopener">
        Ori Morningstar
      </a>
    </p>
  </div>
</template>

<style lang="scss">
.footer {
  text-align: center;
}
</style>
